@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .box-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .custom-gradient {
    background: linear-gradient(
      180deg,
      #2b6ff4 -3.95%,
      #1a55c6 50.37%,
      #a8beea 77.06%,
      #fcfdff 99.78%
    );
  }
}
